@import url(./_labelled/button__breadcrumb_labelled.css);
@import url(./_labelled-tooltip/button__breadcrumb_labelled-tooltip.css);
@import url(./_labelled-keyword/button__breadcrumb_labelled-keyword.css);
@import url(./_icon/button__breadcrumb_icon.css);
@import url(./_icon-flag/button__breadcrumb_icon-flag.css);
@import url(./_icon-flag-marked/button__breadcrumb_icon-flag-marked.css);
@import url(./_icon-trashbin/button__breadcrumb_icon-trashbin.css);
.button__breadcrumb {
  /* outer */
  /* inner */
  /* Здесь не должно быть фона - перезаписывает картинку */
  /* background: #FFFFFF; */
  border: none;
}
