.menu__text-path.menu__text-path_footer {
  color: #1A1B22;
  margin-bottom: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.menu__text-path.menu__text-path_footer:last-child {
  margin-bottom: 0;
}

/* @media (min-width: 510px) and (max-width: 768px) { */
@media (min-width: 510px) {
  .menu__text-path.menu__text-path_footer {
    margin-right: 2.34vw;
    margin-bottom: 0;
  }

  .menu__text-path.menu__text-path_footer:last-child {
    margin-right: 3vw;
  }
}