.card__breadcrumb.card__breadcrumb_tooltip {
  display: none;
}

/* Переделать на JS-решение для выявления ховера */
/* @media (min-width: 321px) and (max-width: 768px) { */
@media (min-width: 321px) {
  .card__breadcrumb_save-button:hover + .card__breadcrumb_tooltip {
    display: block;
    top: 23.11px;
    right: calc(23.11px + 40px + 3px);
    max-width: calc(100% - 23.11px * 2 - 40px - 3px);
    /* 23.11px – отступы, 40px – значок "сохранить", 3px – отступ от значка */
    text-align: left;
  }
}
