.news-search-form__bar {
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #D1D2D6;
  border-radius: 100px;
}

.news-search-form__bar {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.news-search-form__bar::placeholder {
  color: #B6BCBF;
}

/* @media (min-width: 450px) and (max-width: 768px) { */
@media (min-width: 450px) {
  .news-search-form__bar {
    min-width: 73%;
    padding: 16px 1px 16px 24px;
  }
}
