@import url(./__headline/search-panel__headline.css);
@import url(./__description/search-panel__description.css);

.search-panel {
  padding-top: 86px;
  padding-bottom: 32px;
  background-image: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash-320.png);
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 22px;
  color: #FFFFFF;
}

@media (min-width: 450px) and (max-width: 768px) {
  .search-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 104px;
    padding-bottom: 48px;
    padding-left: 20.83vw;
    padding-right: 20.83vw;
    background-image: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash-768.png);
  }
}
