@import url(./__child-width/root__child-width.css);
.root {
  margin: 0 auto;
  /* max-width: 320px; */
  /* max-width: 1440px; */
  box-sizing: border-box;
  font-family: Roboto, Arial, Calibri, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  /* text-rendering: optimizeLegibility; */
}

/* ПОПРОБОВАТЬ ПРОСТО В ОСНОВНОМ ПРАВИЛЕ ПОСТАВИТЬ max-width: 1440px; */
/* @media (min-width: 321px) and (max-width: 1241px) {
  .root {
    max-width: 768px;
  }
} */

/* @media (min-width: 1242px) {
  .root {
    max-width: 1440px;
  }
} */

/* СЛУЖЕБНАЯ ПОДСВЕТКА ОБЪЕКТОВ ТЕНЬЮ */

/* * {
  box-shadow: 0 0 0 1px green;
} */