@import url(./_thicker-border/header__bar_thicker-border.css);
@import url(./_scrolled/header__bar_scrolled.css);
.header__bar {
  /* scheme */
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  /* end of scheme */
  max-width: 100%;
  z-index: 2;
  box-sizing: border-box;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: 690px) {
  .header__bar {
    box-shadow: none;
    /* end of scheme */
  }
}

@media (min-width: 690px) and (max-width: 1241px) {
  .header__bar {
    padding-top: 22.73px;
    padding-bottom: 18.47px;
  }
}

@media (min-width: 1242px) {
  .header__bar {
    padding-top: 30px;
    padding-bottom: 26px;
  }
}