@import url(./__headline/article-block__headline.css);
@import url(./__card-container/article-block__card-container.css);
@import url(./__button/article-block__button.css);

.article-block {
  padding-top: 32px;
  padding-bottom: 32px;
  background: #F5F6F7;
}
