.article-block__card-container {
  padding-top: 24px;
  display: grid;
  row-gap: 10px;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(256px, 1fr)); */
  /* grid-template-columns: repeat(auto-fit, minmax(225px, 1fr)); */
}

@media (min-width: 321px) {
  .article-block__card-container {
    max-width: 100vw;
    padding-top: 31px;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .article-block__card-container {
    grid-template-columns: repeat(auto-fill, 288px);
    gap: 8px;
  }
}

@media (min-width: 768px) and (max-width: 1241px) {
  .article-block__card-container {
    grid-template-columns: repeat(auto-fill, 29vw);
    gap: 8px;
  }
}

@media (min-width: 1242px) {
  .article-block__card-container {
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 16px;
    padding-top: 63px;
  }
}
