.card__cover {
  display: flex;
  z-index: 0;
  height: 150px;
  /* background-image: url(../../../images/image_07.png); */
}

/* @media (min-width: 321px) and (max-width: 1241px) {
  .card__cover {
  }
} */

@media (min-width: 1242px) {
  .card__cover {
    height: 272px;
  }
}