.card__cover {
  position: relative;
  display: flex;
  z-index: 0;
  height: 150px;
}

/* @media (min-width: 321px) and (max-width: 1241px) {
  .card__cover {
  }
} */

@media (min-width: 1242px) {
  .card__cover {
    height: 272px;
  }
}