@import url(./_blue/button-rounded_blue.css);
@import url(./_white/button-rounded_white.css);
@import url(./_black/button-rounded_black.css);
@import url(./_inactive-grey/button-rounded_inactive-grey.css);
.button-rounded {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}