@import url(./_close/header__menu-button_close.css);
@import url(./_open-black-on-white/header__menu-button_open-black-on-white.css);
@import url(./_open/header__menu-button_open.css);
.header__menu-button {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

@media (min-width: 450px) {
  .header__menu-button {
    display: none;
  }
}
