@keyframes darkening {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.62);
  }
}

.header__bar_scrolled {
  background-color: rgba(0, 0, 0, 0.62);
}

.header__bar_anim-on-scroll {
  /* background-color: rgba(0, 0, 0, 0.62); */
  animation-name: darkening;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.header__bar_anim-on-reversed-scroll {
  /* background-color: rgba(0, 0, 0, 0.62); */
  animation-name: darkening;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  animation-duration: 1s;
}