.popup__body {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  max-width: 430px;
  /* height: 560px; */
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

@media (max-width: 429px) {
  .popup__body {
    top: 56px;
    padding: 16px 7.22vw 22px;
  }
}

@media (min-width: 430px) {
  .popup__body {
    padding: 34px 36px 28px;
  }
}
