.menu__options {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  display: flex;
  justify-content: space-between;
}