@media (min-width: 321px) and (max-width: 768px) {
  .menu___text-path_current {
    height: 100%;
    padding: 23px 0 18px;
    display: block;
    border-bottom: 3px solid #FFFFFF;
    box-sizing: border-box;
  }
}