.user-profile__avatar {
  object-fit: cover;
  width: 85vw;
  height: 85vw;
  border-radius: 50%;
  /* align-self: center; */
}

@media (min-width: 321px) and (max-width: 768px) {
  .user-profile__avatar {
    width: 30.21vw;
    height: 30.21vw;
  }
}

@media (min-width: 510px) and (max-width: 768px) {
  .user-profile__avatar {
    margin-top: 17px;
    margin-right: 4.1vw;
  }
}
