@media (max-width: 689px) {
  .header.header_white-saved-news {
    background: #1A1B22;
    color: #FFFFFF;
    /* end of scheme */
  }
}

@media (min-width: 690px) {
  .header.header_white-saved-news {
    /* scheme */
    background: #FFFFFF;
    color: #1A1B22;
    /* end of scheme */
  }
}