@import url(./__cover/card__cover.css);
@import url(./__body/card__body.css);
@import url(./__image/card__image.css);
@import url(./__breadcrumb/card__breadcrumb.css);
@import url(./__date/card__date.css);
@import url(./__headline/card__headline.css);
@import url(./__text/card__text.css);
@import url(./__source-name/card__source-name.css);
.card {
  border-radius: 16px/16px;
  overflow: hidden;
  background: #FFFFFF;
}

@media (min-width: 321px) and (max-width: 767px) {
  .card {
    border-radius: 14px/14px;
  }
  .card:nth-child(odd) {
    justify-self: end;
  }
  .card:nth-child(odd) {
    justify-self: start;
  }
}

@media (max-width: 768px) {
  .card {
    border-radius: 14px/14px;
  }
}