.news-search-form__button {
  margin-top: 16px;
  outline: none;
}

@media (min-width: 450px) and (max-width: 1241px) {
  .news-search-form__button {
    width: 36%;
    min-width: 140px;
    position: absolute;
    right: -1%;
    margin-top: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: 1242px) {
  .news-search-form__button {
    width: 27.63%;
    position: absolute;
    right: 0%;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
