@import url(./__avatar/user-profile__avatar.css);
@import url(./__description/user-profile__description.css);
@import url(./__headline/user-profile__headline.css);
@import url(./__text/user-profile__text.css);
.user-profile {
  padding-top: 32px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
}

/* @media (min-width: 510px) and (max-width: 768px) { */
@media (min-width: 510px) {
  .user-profile {
    padding-top: 44px;
    padding-bottom: 54px;
    flex-direction: row;
  }
}
