.footer__copyright-notice {
  margin: 41px 0 0;
  color: #B6BCBF;
}

/* @media (min-width: 510px) and (max-width: 768px) { */
  @media (min-width: 510px) {
  .footer__copyright-notice {
    margin: 0;
  }
}