<button class="button button__breadcrumb button__breadcrumb_icon button__breadcrumb_icon-flag aux"></button>
<button class="button button__breadcrumb button__breadcrumb_icon button__breadcrumb_icon-flag-marked aux"></button>
<button class="button button__breadcrumb button__breadcrumb_icon button__breadcrumb_icon-trashbin aux"></button>
<button class="button button__breadcrumb button__breadcrumb_labelled button__breadcrumb_labelled-keyword aux">Природа</button>
<button class="button button__breadcrumb button__breadcrumb_labelled button__breadcrumb_labelled-tooltip aux">Войдите, чтобы сохранять статьи</button>
<button class="button button__modal button__modal_burger-black button_hover-on-white aux"></button>
<button class="button button__modal button__modal_burger-white button_hover-on-black aux"></button>
<button class="button button__modal button__modal_cross-white button_hover-on-black aux"></button>
<button class="button button__rounded button__rounded_black-outline-white button_hover-on-black aux">Черная кнопка</button>
<button class="button button__rounded button__rounded_black-outline-white button_hover-on-black button__rounded_with-icon aux">Черная кнопка<span class="button__icon button__icon_logout-white"></span></button>
<button class="button button__rounded button__rounded_blue aux">Искать</button>
<button class="button button__rounded button__rounded_blue-inactive aux">Искать</button>
<button class="button button__rounded button__rounded_size_parent button__rounded_black-outline-white button_hover-on-black aux">Черная кнопка</button>
<button class="button button__rounded button__rounded_size_parent button__rounded_black-outline-white button_hover-on-black button__rounded_with-icon aux">Черная кнопка<span class="button__icon button__icon_logout-white"></span></button>
<button class="button button__rounded button__rounded_size_parent button__rounded_blue aux">Искать</button>
<button class="button button__rounded button__rounded_size_parent button__rounded_blue-inactive aux">Искать</button>
<button class="button button__rounded button__rounded_size_parent button__rounded_transparent-outline-white button_hover-on-black button__rounded_with-icon aux">Прозрачная кнопка<span class="button__icon button__icon_logout-white"></span></button>
<button class="button button__rounded button__rounded_size_parent button__rounded_white button_hover-on-black aux">Показать ещё</button>
<button class="button button__rounded button__rounded_size_parent button__rounded_white-outline-grey button_hover-on-white button__rounded_with-icon aux">Грета<span class="button__icon button__icon_logout-black"></span></button>
<button class="button button__rounded button__rounded_transparent-outline-white button_hover-on-black button__rounded_with-icon aux">Прозрачная кнопка<span class="button__icon button__icon_logout-white"></span></button>
<button class="button button__rounded button__rounded_white button_hover-on-black aux">Показать ещё</button>
<button class="button button__rounded button__rounded_white-outline-grey button_hover-on-white button__rounded_with-icon aux">Грета<span class="button__icon button__icon_logout-black"></span></button>