.popup__prompt {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin: 0;
}

.popup__message ~ .popup__prompt {
  text-align: left;
}