.header__menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: -56px;
  padding-top: 88px;
  padding-bottom: 24px;
  z-index: 1;
  background-color: #1A1B22;
  color: #FFFFFF;
  /* display: none; */
}

@media (min-width: 321px) and (max-width: 768px) {
  .header__menu {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
    background-color: transparent;
  }
}
