@import url(./_show/header__menu_show.css);
@import url(./_thicker-border/header__menu_thicker-border.css);
@import url(./_thinner-border/header__menu_thinner-border.css);
.header__menu {
  display: none;
  box-shadow: none;
  /* end of scheme */
  box-sizing: border-box;
  margin-top: -56px;
  padding-top: 88px;
  padding-bottom: 24px;
  z-index: 1;
}

@media (min-width: 690px) and (max-width: 768px) {
  .header__menu {
    display: flex;
    flex-direction: row;
    /* end of scheme */
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    white-space: nowrap;
  }
}