@import url(./__sub-headline/saved-news-intro__sub-headline.css);
@import url(./__details/saved-news-intro__details.css);
@import url(./__headline/saved-news-intro__headline.css);

.saved-news-intro {
  padding-top: 70px;
  padding-bottom: 32px;
}

@media (min-width: 690px) and (max-width: 1241px) {
  .saved-news-intro {
    padding-top: 80px;
  }
}

@media (min-width: 1242px) {
  .saved-news-intro {
    padding-top: 90px;
  }
}
