.footer__menu {
  display: flex;
  justify-content: space-between;
}

/* @media (min-width: 510px) and (max-width: 768px) { */
  @media (min-width: 510px) {
  .footer__menu {
    margin-left: 3vw;
  }
}