@import url(./__bar-and-button-group/news-search-form__bar-and-button-group.css);
@import url(./__bar/news-search-form__bar.css);
@import url(./__error/news-search-form__error.css);
@import url(./__button/news-search-form__button.css);

.news-search-form {
  padding-top: 122px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 450px) {
  .news-search-form {
    margin: 0;
    width: 100%;
    align-self: flex-start;
  }
}

@media (min-width: 1242px) {
  .news-search-form {
    padding-top: 65px;
  }
}
