@import url(./__bar/news-search-form__bar.css);
@import url(./__button/news-search-form__button.css);

.news-search-form {
  padding-top: 122px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 450px) and (max-width: 768px) {
  .news-search-form {
    position: relative;
    margin: 0;
    width: 100%;
    padding-top: 48px;
    align-self: flex-start;
    flex-direction: row;
  }
}
