.search-panel__headline {
  margin: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

@media (min-width: 321px) {
  .search-panel__headline {
    align-self: flex-start;
  }
}

@media (min-width: 321px) and (max-width: 1241px) {
  .search-panel__headline {
    margin: 0;
    width: 50.13vw;
    padding-left: 4px;
  }
}

@media (min-width: 1242px) {
  .search-panel__headline {
    margin: 0;
    width: 46.13vw;
    padding-left: 4px;
    font-size: 60px;
    line-height: 64px;
  }
}
