.user-profile__description {
  margin: 29px 0 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

/* @media (min-width: 510px) and (max-width: 768px) { */
@media (min-width: 510px) {
  .user-profile__description {
    margin: 0;
  }
}
