.header__menu.header__menu_black-on-white {
  background-color: #FFFFFF;
  color: #1A1B22;
  box-shadow: inset 0px -1px 0px #D1D2D6;
}

/* @media (min-width: 450px) and (max-width: 768px) {
  .header__menu.header__menu_black-on-white {
    box-shadow: none;
  }
} */
