@import url(./__bar/header__bar.css);
@import url(./__headline/header__headline.css);
@import url(./__menu-button/header__menu-button.css);
@import url(./__menu/header__menu.css);
@import url(./_black-on-white/header_black-on-white.css);
@import url(./__menu-options/header__menu-options.css);
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 321px) and (max-width: 768px) {
  .header {
    flex-direction: row;
  }
}
